NEXT_PUBLIC_URL=http://localhost:3000

POSTGRES_PRISMA_URL=
POSTGRES_URL_NON_POOLING=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Only for production – generate one here: https://generate-secret.vercel.app/32
NEXTAUTH_SECRET=

## Only required for localhost
NEXTAUTH_URL=http://localhost:3000
